.wrapper {
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search,
.search-result {
  width: 361px;
}

.search-result {
  max-height: min(100vh - 96px - 60px, 734px);
  min-height: 100px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
  border-radius: 8px;
}

.search-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(22, 24, 35, 0.5);
}

.search {
  height: 46px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  position: relative;
  outline: 0;
  border: 0;
}
.search:focus {
  border: 1.5px solid rgba(22, 24, 35, 0.2);
}
.search .Search-from {
  padding: 12px 16px;
  display: flex;
}
.search .Search-from input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  width: 292px;
  color: rgb(22, 24, 35);
  caret-color: rgb(254, 44, 85);
}
.search .Search-from .icon .icon-close,
.search .Search-from .icon .icon-loading {
  position: absolute;
  right: 70px;
  top: 13.5px;
}
.search .Search-from .icon .span {
  position: absolute;
  width: 1px;
  height: 28px;
  margin: -3px 0;
  background-color: rgba(22, 24, 35, 0.12);
}
.search .Search-from .icon .icon-search {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  width: 52px;
  height: 100%;
  border: 0;
  border-radius: 0 92px 92px 0;
  cursor: pointer;
  background-color: transparent;
  color: rgba(22, 24, 35, 0.34);
}
.search .Search-from .icon .icon-search:hover {
  background-color: rgba(22, 24, 35, 0.03);
}
.search .Search-from .icon .icon-search:hover:active {
  background-color: rgba(22, 24, 35, 0.06);
}

.custom-login {
  color: rgba(22, 24, 35, 0.75);
}